@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background: rgb(141,57,250);
    background: linear-gradient(177deg, rgba(141,57,250,1) 29%, rgba(57,113,250,1) 97%) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
/* Este es el nav para todas-------------------------------- */
.header {
    display: flex;
    flex-direction: column;
    grid-area: area1;
    align-items: center;
}
.titulo {
    border: solid 2px rgba(0, 0, 0, 0.4);
    width: 800px;
    text-align: center;
    color: rgb(213, 218, 218);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    margin-top: 30px;
}
#menu ul {
    list-style:none;
    margin:0;
    padding:0;
    border-radius: 15px;
    font-family: 'Rubik', sans-serif;
    
}
#menu ul li {
    background-color:rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    width: auto;
    height: auto;
    z-index: 5;
    
    
}
#menu ul a {
    display:block;
    color: rgb(9, 12, 12);
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px;
    margin: 2px;
    text-align: center;
    color: rgb(118, 141, 141);
    border: solid 1px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}
#menu ul li {
    position:relative;
    float:left;
    margin:15px;
    padding:0;

}
#menu ul li:hover {
    background:rgba(0, 0, 0, 0.8);
    
}
#menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
  
    padding:0;
}
#menu ul ul li {
    float:none;
    width:150px;
    
}

#menu ul ul a {
    line-height:120%;
    padding:10px 15px;
    
    
}
#menu ul li:hover > ul {
    display:block;
    text-align: center;
    
}
/* ------------------------------------------ */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}





.boxglobal {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 1440px;
    height: 520px;
    margin-top: 250px;
    background: azure;
    border-radius: 8px;
    overflow: visible;
  
}
.ilubox {
    position: absolute;
    z-index: 1;
    top: 220px;
    left: -90px;
    
}

.imgmujer {
    position: relative;
    top: 95px;
    left: -75px;
  
}
.crop {
    height: 800px;
    width:800px;
    position: absolute;
    overflow: hidden;
    top: -10px;
    left: 00px;
}
.pat {
    position: relative;
    left: -186px;
    top: 100px;
    max-width: 50%;
    height: auto;
    width: auto/9;
}


.tituloInfo {
    font-family: 'Kumbh Sans', sans-serif;
    text-align: left;
    margin-top: 5px;
    font-size: 50px;
    font-weight: 700;
}


/*-----------------testeo ocultar parrafo*/

input[id^="spoiler"]{
    display: none;
    }
    /* Estilo flecha*/
    input[id^="spoiler"] + label {
    display: block;
    width: 5px;
    margin: 0 auto;
    padding: 5px 20px;
    cursor: pointer;
    position: relative;
    top: -30px;
    left: 160px;

    }

    /* respuesta oculta*/
    input[id^="spoiler"] ~ .spoiler {
    width: 90%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    margin: 10px auto 0;
    }
    /* Cuando meto click a la flecha */
    input[id^="spoiler"]:checked + label + .spoiler{
    height: auto;
    opacity: 1;
    margin-top: -20px;
    }

    .info {
        position: relative;
        left: -50px;
        top: 75px;
        font-family: 'Kumbh Sans', sans-serif;
        font-size: 12px;
        
    }
    .preguntas {
        margin-top: 50px;
        font-family: 'Kumbh Sans', sans-serif;

    }

    .answ {
        font-size: 12px;
        font-family: 'Kumbh Sans', sans-serif;

    }

