@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    /* background: rgb(141,57,250);
    background: linear-gradient(177deg, rgba(141,57,250,1) 29%, rgba(57,113,250,1) 97%) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    background: url(./muro-hormigon-gris-claro_53876-89532.jpg   ) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    }
/* Este es el nav para todas-------------------------------- */
:root {
    --blue:rgb(18, 20, 145);
    --grey: rgba(250, 250, 250, 0.3);
    --fontkanit:'Kanit', sans-serif;

}
.footer {

    font-family: 'Kanit', sans-serif;
    margin-top: 150px;
    display: flex;
    justify-content: end;
    align-items: center;
    color: var(--blue);
    padding: 1rem;
}
.footer p {
    padding: 1rem;
}
.linkfooter {
    text-decoration: none;
    color: var(--blue);
    font-size: 2rem;
}
@media (max-width: 500px) {
    .header {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        align-items: center;

    }
    /* ------------menu y nav---------------------- */

    .menu-btn {
        margin-top: 2rem;
        cursor: pointer;
        color: var(--blue);
        font-size: 2rem;
    }
    .menu-toogle:checked + .navBarUl {
        display: block;
    }
    .menu-toogle {
        display: none;

    }
    .navBarUl {
        display: none;
        margin-top: 1.7rem;
        list-style: none;

    }
    
    .navBarLi {
        padding: 0.6rem;
        background: var(--grey);
        margin: 1rem;
        text-align: center;
        border-radius: 12px;
        
    }
    .navBarLi a {
        text-decoration: none;
        color: var(--blue);

    }

    .logo {
        border-radius: 50%;
    }
    /* ---------------------------------- */
}
@media (min-width: 500px) {
    .header {
        display: flex;
        justify-content: space-around;
        margin-top: 2rem;
        background: url(./muro-hormigon-gris-claro_53876-89532.jpg   ) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        font-family: 'Kanit', sans-serif;
        

    }
    .logo {
        border-radius: 50%;
    }
    .menu-btn {
        cursor: pointer;
        display: none;
        color: rgb(18, 20, 145);
    }
    .fa-bars {
        display: none;
        color: rgb(18, 20, 145);
    }
    .menu-toogle {
        display: none;

    }
    .navBarUl {
        display: flex;
        list-style: none;
        padding: 15px;
        margin-top: 60px;

    }
    .navBarLi {
        margin: 15px;
        font-size: 1.5rem;
        padding: 10px;
        background: rgba(250, 250, 250, 0.3);
        text-align: center;
        border-radius: 12px;
        
    }
    
    .navBarLi a {
        text-decoration: none;
        color: rgb(18, 20, 145);

    }

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}





.boxglobal {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 1440px;
    height: 520px;
    margin-top: 250px;
    background: azure;
    border-radius: 8px;
    overflow: visible;
  
}
.ilubox {
    position: absolute;
    z-index: 1;
    top: 220px;
    left: -90px;
    
}

.imgmujer {
    position: relative;
    top: 95px;
    left: -75px;
  
}
.crop {
    height: 800px;
    width:800px;
    position: absolute;
    overflow: hidden;
    top: -10px;
    left: 00px;
}
.pat {
    position: relative;
    left: -186px;
    top: 100px;
    max-width: 50%;
    height: auto;
    width: auto/9;
}


.tituloInfo {
    font-family: 'Kumbh Sans', sans-serif;
    text-align: left;
    margin-top: 5px;
    font-size: 50px;
    font-weight: 700;
}


/*-----------------testeo ocultar parrafo*/

input[id^="spoiler"]{
    display: none;
    }
    /* Estilo flecha*/
    input[id^="spoiler"] + label {
    display: block;
    width: 5px;
    margin: 0 auto;
    padding: 5px 20px;
    cursor: pointer;
    position: relative;
    top: -30px;
    left: 160px;

    }

    /* respuesta oculta*/
    input[id^="spoiler"] ~ .spoiler {
    width: 90%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    margin: 10px auto 0;
    }
    /* Cuando meto click a la flecha */
    input[id^="spoiler"]:checked + label + .spoiler{
    height: auto;
    opacity: 1;
    margin-top: -20px;
    }

    .info {
        position: relative;
        left: -50px;
        top: 75px;
        font-family: 'Kumbh Sans', sans-serif;
        font-size: 12px;
        
    }
    .preguntas {
        margin-top: 50px;
        font-family: 'Kumbh Sans', sans-serif;

    }

    .answ {
        font-size: 12px;
        font-family: 'Kumbh Sans', sans-serif;

    }
}

